.footer{
    background-color: #fff;
  
}
.insta-icon{
    font-size: 30px;
    color:rgb(182, 176, 176);
}
.fb-icon{
    font-size: 30px;  
    color:rgb(182, 176, 176);
 

    
}
.youtube-icon{
    font-size: 30px;
    color:rgb(182, 176, 176);
   
}
.google-icon{
    color:rgb(182, 176, 176);
    font-size: 30px;
}
.user-details p{
    font-size: 12px;
}